$header-color: rgba(70, 70, 70, 0.35);
$body-color: #262626;
$text-color: #FFFFFF;
$orange-color: #FFA680;
$purple-color: #8085FF;
$green-color: #74D483;
$console-header-color: rgba(255, 255, 255, 0.1);
$console-color: rgba(28, 28, 28, 0.85);